
{{#if tasks}}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>N.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead> 
    <tbody>
          {{#each tasks}}
          <tr>
            <td>{{@index}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>
                {{#if done}}
                <a href="/toggledone/{{_id}}" class="btn btn-warning">Undone</a>
                {{else}}
                <a href="/toggledone/{{_id}}" class="btn btn-success">Done</a>
                {{/if}}

                <a href="/delete/{{_id}}" class="btn btn-danger">Delete</a>
                <a href="/edit/{{_id}}" class="btn btn-info">Update</a>
            </td>
          </tr>
        
          {{/each}}

    </tbody>
</table>
  {{else}}
      <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="text-center">
            <h2>No hay Tareas Agregadas</h2>
            {{!-- <img src="/src/public/icons/emote-sad-svgrepo-com.svg" /> --}}
            
          </div>
      </div>

{{/if}}

